{% extends 'layout.html' %}

{% block body %}
    <!-- Welcome Area Start -->
    {% include 'includes/_slider.html' %}
    <!-- Welcome Area End -->

    <!-- About Us Area Start -->
    {% include 'includes/_home_aboutus.html' %}
    <!-- About Us Area End -->

    <!-- Service Area Start -->
    {% include 'includes/_home_service.html' %}
    <!-- Service Area End -->

    <!-- Our Room Area Start -->
    {% include 'includes/_home_product_slider.html' %}
    <!-- Our Room Area End -->

    <!-- Testimonials Area Start -->
    {% include 'includes/_home_testimonails.html' %}
    <!-- Testimonials Area End -->

    <!-- Projects Area Start -->
    {% include 'includes/_home_project_slider.html' %}
    <!-- Projects Area End -->

    <!-- Blog Area Start -->
    {% include 'includes/_home_ourblog.html' %}
    <!-- Blog Area End -->

{% endblock %}