{% extends 'auth/auth.html' %}

{% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" action="{{ url_for('handle_login') }}" method="post">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<span class="login100-form-title p-b-70">
						LOGIN
					</span>
					{% if error %}
						<div class="alert alert-danger">
							{{ error }}
						</div>
					{% endif %}
					{% if success %}
						<div class="alert alert-success">
							{{ success }}
						</div>
					{% endif %}

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter email">
						<input class="input100" type="email" name="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

					<ul class="login-more p-t-190">
						<li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

							<a href="{{ url_for('forgot') }}" class="txt2">
								Password?
							</a>
						</li>

						<li>
							<span class="txt1">
								Don’t have an account?
							</span>

							<a href="{{ url_for('register') }}" class="txt2">
								Register
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
{% endblock %}